# SPDX-FileCopyrightText: 2023 Dani Sweet <sidereal@djsweet.name>
#
# SPDX-License-Identifier: CC0-1.0

#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Linux start script should use lf
/gradlew        text eol=lf

# These are Windows script files and should use crlf
*.bat           text eol=crlf

