# SPDX-FileCopyrightText: 2023 Dani Sweet <thorium@djsweet.name>
#
# SPDX-License-Identifier: CC0-1.0

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Reports come from `native-image` tracing the build-time class initializations. We don't need this
# checked into source control.
reports
